@media screen  and (max-width: 768px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
    .wrapper{
        width: 768px;
        padding: 50px 40px;
        margin-top: 150px;

    }
    .name input{
        width: 200px;
        height: 20px;
    }
    .list select {
        width: 200px;
        height: 200px;
    }

}