*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
body{
    max-width: 1400px;
    background-color: #598cb5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
.wrapper{
    width: 800px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 80px;
    padding: 50px;
    gap: 50px;
    border-radius: 1%;
}
label{
    position: absolute;
    color: grey;
}

.name input{
    margin-top: 22px;
    width: 500px;
    height: 20px;
    margin-right: 50px;
}

.name button{
   width: 60px;
}
.list{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.list__left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 50px;
}
.list__left button:nth-child(3){
    margin-top: 20px;
    width: 80px;
}

.list select{
    margin-top: 22px;
    width: 500px;
}
.list button{
    margin-top: 20px;
    width: 100px;
}

